.about {
  background-color: $bg1;
  padding-top: 90px;
  color: $main-color;
  &__description.about--self {
    padding-top: 110px;
    @include flex(row, nowrap, center, center);
  }
  &__image {
    width: 30%;
    img {
      width: 100%;
    }
  }
  &__bio {
    width: 70%;
    padding: 0 30px;
    @include flex(column, nowrap, center, flex-start);
    h3 {
      font-weight: normal;
      font-family: $raleway;
      font-size: 24px;
      color: #D6D6D6;
      line-height: 28px;
      margin: 0 0 15px 0;
    }
    span {
      font-weight: bold;
      color: $green;
      font-family: $lato;
    }
  }
}