.bio {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    &-about {
        display: flex;
        flex-flow: column nowrap;
        width: 30%;
        padding: 30px;
        .title {
            font-size: 40px;
        }
        .text {
            font-size: 18px;
            font-family: 'open_sansregular';
            padding: 30px 0;
        }
        .icons {
            width: 100%;
            ul {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                li {
                    font-size: 12px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 10px;
                    z-index: 1;
                }
            }
        }
    }
    &-image {
        width: 35%;
        display: flex;
        flex-flow: column nowrap;
        // padding: 30px;
        img {
            width: 100%;
        }
    }
    &-contacts {
        width: 30%;
        display: flex;
        flex-flow: row nowrap;
        padding: 30px;
        ul {
            width: 100%;
            display: block;
            flex-flow: row wrap;
            justify-content: space-around;
            li {
                width: 50%;
                font-size: 12px;
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 1;
                margin-bottom: 30px;
            }
        }
    }
}