.contacts {
    background-color: $bg5;
    color: $main-color;
    padding: 110px 0 90px;
    &__container {
        @include flex(column, wrap, flex-start, center);
        padding-top: 90px;
    }
    &__type {
        @include flex(row, nowrap, space-between, center);
        width: 100%;
    }
    &__item {
        border: 2px solid $default-color;
    }
    .type {
        &__item {
            width: calc(100% / 3.2);
            padding: 50px 0;
            transition: border .3s;
            cursor: pointer;
            &:hover {
                border: 2px solid $green;
                transition: border .3s;
            }
        }
        &__label {
            padding: 50px 0;
            width: 100%;
        }
        &__wrapper {
            @include flex(column, nowrap, center, center);
        }
        &__name {
            color: $green;
            text-transform: uppercase;
            font-weight: bold;
            font-family: "Raleway", sans-serif;
            padding-bottom: 5px;
        }
        &__input {
            &:checked + .type__item {
                border: 2px solid $green;
            }
        }
    }
}