.contacts {
    background-color: $bg5;
    color: $main-color;
    padding: 110px 0;
    &__container {
        @include flex(column, wrap, flex-start, center);
        padding-top: 90px;
    }
    &__type {
        @include flex(row, nowrap, space-between, center);
        width: 100%;
    }
    .type {
        &__item {
            width: 100%;
            margin: 5px;
            transition: border .3s;
            &:hover label {
                border: 2px solid $main-color;
                transition: border .2s;
            }
            input[type=radio]{
                display: none;
            }
            input[type=radio]:checked+label {
                border: 2px solid $green;
            }
            input[type=radio]:checked+ label .type__icon {
                display: none;
            }
        }
        &__label {
            @include flex(column, nowrap, center, center);
            border: 2px solid rgba($green, .1);
            padding: 40px 0;
            width: 100%;
        }
        &__wrapper {
            @include flex(column, nowrap, center, center);
        }
        &__name {
            color: $green;
            text-transform: uppercase;
            font-weight: bold;
            font-family: "Raleway", sans-serif;
            padding-bottom: 5px;
        }
        &__icon {
            position: absolute;
            top: 2px;
            left: 2px;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            background-color: $bg5;
            &:hover {
               opacity: 0;
            }
            span {
                display: block;
                width: 100%;
                height: 100%;
                max-width: 44px;
                max-height: 44px;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
    &__cv {
        width: 100%;
        padding: 70px 0;
        font-family: inherit;
    }
    @import 'contacts.form';
    @import 'contacts.phone';
}
