.experience {
    @include flex(column, nowrap, space-around, center);
    text-align: center;
    background-color: $default;
    &-title {
        padding: 30px 0;
        font-size: 36px;
        width: 100%;
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 200px;
            height: 8px;
            background-color: $candy-apple;
            top: 50%;
            transform: translateY(-50%)
        }
        &:before {
            left: 20%;
        }
        &:after {
            right: 20%;
        }
    }
    &-content {
        @include flex(column, nowrap, space-between, center);
        .place {
            @include flex(row, nowrap, space-between, center);
            width: 100%;
            padding: 30px 0;
        }
        .years,
        .position,
        .description {
           height: 100px;
        }
        .years,
        .position {
            width: 25%;
        }
        .description,
        .position {
            font-size: 20px;
        }
        .description {
            width: 50%;
            font-size: 18px;
            font-family: 'open_sansregular';
            font-weight: bold;
        }
        .years {
            font-size: 30px;
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                background-color: $daffodil;
                width: 50px;
                height: 100px;
            }
        }
        .position {
            span {
                font-size: 16px;
                font-family: 'open_sansregular';
                font-weight: bold;
            }
        }
    }
}