.experience {
    background-color: $bg2;
    color: $main-color;
    padding-top: 70px;
    span {
        display: block;
    }
    &__container {
        @include flex(row, wrap, space-between, flex-start);
        padding-bottom: 90px;
    }
    &__item {
        @include flex(row, wrap, space-between, center);
        width: calc(100% / 2.05);
        padding: 50px 0 0;
    }
    &__position {
        @include flex(row, nowrap, flex-start, center);
        width: 60%;
        &:before {
            @include after();
            position: relative;
            left: 0;
            margin-right: 30px;
            width: 40px;
            height: 40px;
        }
    }
    &__company {
        @include flex(column, nowrap, space-between, flex-start);
        width: 40%;
    }
    .position {
        &__item {
            @include flex(column, nowrap, space-between, flex-start);
            font-weight: bold;
            font-size: $default-size;
            text-transform: uppercase;
        }
        &--name {
            font-family: "Raleway", sans-serif;
        }
        &--time {
            font-size: $primary-size;
        }
    }
    .company {
        &__item {
            font-size: 16px;
        }
        &--name {
            font-weight: bold;
            color: $default-color;
            text-transform: uppercase;
        }
    }
    &__responsibility {
        height: 0;
        overflow-y: hidden;
    }
    .responsibility__list {
        padding-top: 30px;
        margin-left: 80px;
        li {
            &:before {
                @include after();
                top: 10px;
                left: -15px;
                width: 5px;
                height: 5px;
            }
        }
    }
    &__full {
        width: 100%;
        margin-top: 15px;
        height: 20px;
        border-bottom: none;
        border-left: none;
        border-right: none;
        cursor: pointer;
        &:before, &:after {
            @include after();
            left: 50%;
            top: -10px;
            transform: translateX(-50%) rotate(135deg);
            width: 20px;
            height: 20px;
            background-color: $bg2;
            z-index: 1;
        }
        &:after {
            top: -6px;
            width: 10px;
            height: 10px;
            animation: impulse 2s linear infinite;            
        }
        &.sea-bd:before, &.sea-bd:after {
            border-top: 2px solid $sea;
            border-right: 2px solid $sea;
        }
        &.green-bd:before, &.green-bd:after {
            border-top: 2px solid $green;
            border-right: 2px solid $green;
        }
        &.orange-bd:before, &.orange-bd:after {
            border-top: 2px solid $orange;
            border-right: 2px solid $orange;
        }
    }
}

@keyframes impulse {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}