footer {
    background-color: #1d1b23;
    padding: 30px;
}
.footer {
    &__info {
        font-weight: normal;
        font-family: $lato;
        font-size: $default-size;
        color: $main-color;
        line-height: 28px;
        text-align: center;
    }
}