.icon {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    &:after {
        content: '';
        display: block;
        width: 80px;
        height: 80px;
        opacity: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &.small {
        width: 60px;
        height: 60px;
        &:after {
            width: 60px;
            height: 60px;
        }
    }
    &:hover {
        &:after {
            opacity: 1;
        }
    }
    &-html {
        background-image: url('../images/Html 5.png');
        &:after {
            background-image: url('../images/Html-5-Filled2.png');
        }
    }
    &-css {
        background-image: url('../images/CSS3.png');
        &:after {
            background-image: url('../images/CSS3 Filled.png');
        }
    }
    &-js {
        background-image: url('../images/JavaScript.png');
        &:after {
            background-image: url('../images/JavaScript Filled.png');
        }
    }
    &-mail {
        background-image: url('../images/New Post.png');
        &:after {
            background-image: url('../images/New Post Filled.png');
        }
    }
    &-cell {
        background-image: url('../images/Cell Phone.png');
        &:after {
            background-image: url('../images/Cell Phone Filled.png');
        }
    }
    &-location {
        background-image: url('../images/Marker.png');
        &:after {
            background-image: url('../images/Marker Filled.png');
        }
    }
    &-website {
        background-image: url('../images/Git.png');
        &:after {
            background-image: url('../images/Git Filled.png');
        }
    }
}