.icon {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
    &:after {
        content: '';
        display: block;
        width: 70px;
        height: 70px;
        opacity: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &:hover {
        &:after {
            opacity: 1;
        }
    }
    &-html {
        background-image: url('../images/Html 5.png');
        &:after {
            background-image: url('../images/Html-5-Filled2.png');
        }
    }
    &-css {
        background-image: url('../images/CSS3.png');
        &:after {
            background-image: url('../images/CSS3 Filled.png');
        }
    }
    &-js {
        background-image: url('../images/JavaScript.png');
        &:after {
            background-image: url('../images/JavaScript Filled.png');
        }
    }
}