.nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #2E2835;
  box-shadow: #1d1b23 0 2px 10px 0;

  &__container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    font-family: $raleway;
    font-weight: bold;
    font-size: $primary-size;
    color: $main-color;
    text-transform: uppercase;
    padding: 10px 0 10px;
    @include flex(row, nowrap, flex-end, center);
  }

  &__logo,
  &__menu {
    @include flex(row, nowrap, flex-end, center);
    width: 70%;
  }

  &__logo {
    width: 30%;
    padding: 0 20px;
    justify-content: flex-start;

    img {
      cursor: pointer;
      width: 19%;
    }
  }

  &__item {
    display: block;
    margin: 0 20px;
    cursor: pointer;

    &:before {
      @include after();
      opacity: 0;
      bottom: -15px;
      height: 2px;
      width: 100%;
      background-color: $green;
      transition: .3s;
    }

    &:hover {
      color: $green;

      &:before {
        opacity: 1;
        transform: translateY(-14px);
        transition: .3s;
      }
    }

    &.active-menu {
      color: $green;

      &:before {
        opacity: 1;
        transform: translateY(-14px);
        transition: .3s;
      }
    }
  }

  &__item:last-child {
    padding-right: 0;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    box-shadow: inset 0 0 5px 14px #000;
  }
}