.portfolio {
    background-color: $bg3;
    color: $main-color;
    padding: 110px 0 90px;
    &__container {
      @include flex(row, wrap, flex-start, center);
      padding-top: 90px;
    }
    &__item {
      width: calc(100% / 3.2);
      margin: 0 34px 34px 0;
      cursor: pointer;
      .item {
        &--info {
          @include flex(column, wrap, center, center);          
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          color: #000;
          opacity: 0;
          transition: opacity .2s;
        }
        &--name,
        &--list {
          font-family: $raleway;
          font-weight: bold;
        }
        &--name {
          text-transform: uppercase;
          font-size: 18px;
        }
        &--descriprion {
          padding: 3px 0 20px;
        }
        &--list {
          
        }
      }
      img {
        width: 100%;
      }
      ul {
        li {
          display: inline-block;
          margin: 0 6px;
          &:after {
            position: absolute;
            display: block;
            content: '|';
            top: 0;
            left: calc(100% + 3px);
          }
          &:last-child {
            &:after {
              content: '';
            }
          }
        }
      }
      &:hover {
        & .item--info {
          opacity: 1;
          transition: opacity .3s;
        }
      }
      &:nth-child(3) {
        margin-right: 0;
      }
    }
    &__btn {
      padding-top: 30px;
      width: 170px;
      margin: 0 auto;
    }
}