.preloader {
    @include flex(column, nowrap, center, center);
    position: absolute;
    background-color: $bg1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow: hidden;
    &__phrase {
        width: 50%;
        height: 35px;
        color: $orange;
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        font-family: $lato;
    }
    &__loader {
        width: 260px;
        height: 150px;
        &--circle {
            left: 50%;
            margin-left: -35px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid $green;
            border-right: 16px solid $yellow;
            border-bottom: 16px solid $sea;
            border-left: 16px solid $pink;
            width: 70px;
            height: 70px;
            animation: spin 2s reverse linear infinite;
            &:after {
                display: block;
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 18px solid $bg2;
                border-right: 18px solid $bg4;
                border-bottom: 18px solid $bg2;
                border-left: 18px solid $bg4;
                width: 38px;
                height: 38px;
                animation: spin .7s .1s linear infinite;
            }
        }
        &--lines {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            li {
                display: inline-block;
                width: 16px;
                height: 65px;
                transform: translateY(0);
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
                animation: colorbars .5s alternate infinite cubic-bezier(0.2, 0, 0.5, 1);
                @for $i from 1 through 10 {
                    &:nth-of-type(#{$i}) {
                        animation-delay: $delay*$i
                    }
                }
            }
            @for $i from 1 through 10 {
                .bar_#{$i} {
                    background-color:nth($colors-collection, $i);
                }
            }
            .bar_1 {
                border-radius: 18px 0 0 3px;
            }
            .bar_10 {
                border-radius: 0 3px 18px 0;
            }
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes colorbars {
    to {
        transform: translateY(12px);
    }
}
// cubic-bezier(0.2, 0, 0.5, 1)