// COLORS

// set 1
$dark-navy: #011a27;
$blueberry: #063852;
$tangerine: #f0810f;
$daffodil: #e6df44;

// set 2
$navy: #00293c;
$peacok-blue: #1e656d;
$ivory: #f1f3ce;
$candy-apple: #f62a00;

// set 3
$midnight-blue: #1e1f26;
$indigo-ink: #283655;
$light-blueberry: #4d648d;
$periwinkle: #d0e1f9;