// COLORS
$default-color: #fff;
$main: #99989B; // description text
$bg1:#2E2835; // about, exp
$bg2: #2B2632; // portfolio
$bg3: #28232F; // services, work process
$bg4: #26212D; // contacts
$bg5: #201D25; // footer
$green: #73B145;
$orange: #DF6D00;
$yellow: #C0EA00;
$sea: #00E6A4;
$pink: #ED0043;

// Fonts
$lato:  'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;
$default-size: 16px;
$primary-size: 13px;
