// COLORS
$default-color: #fff;
$main-color: rgb(143, 143, 143); // description text
$bg1:#2E2835; // about, exp
$bg2: #2B2632; // portfolio
$bg3: #28232F; // services, work process
$bg4: #26212D; // contacts
$bg5: #201D25; // footer
$green: #73B145;
$orange: #DF6D00;
$yellow: #C0EA00;
$sea: #00E6A4;
$pink: #ED0043;

// Animation
$delay: 70ms;
$colors-collection: (#a0401d, #a95334, #d3664a, #bc7961, #c68c77, #cf9f8e, #d9b2a4, #e2c5bb, #ecd8d1, #f5ebe8);
$bar: bar !default;

// Fonts
$lato:  'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;
$default-size: 16px;
$primary-size: 13px;

