.header {
    width: inherit;
    height: inherit;
    background-image: url('../images/bg/bg2.jpg');
    background-size: 100% 100%;
    &:after {
        @include after();
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &__wrapper {
        width: inherit;
        height: inherit;
        z-index: 1;
    }
    header {
        width: 100%;
        @include flex(row,
        nowrap,
        space-around,
        center);
    }
    .header__logo {
        width: 50%;
    }
    &__nav {
        width: 100%;
        font-family: $raleway;
        font-weight: bold;
        font-size: $primary-size;
        color: $main-color;
        text-transform: uppercase;
        padding: 20px 0;
        @include flex(row,
        nowrap,
        flex-end,
        center);
    }
    .nav__item {
        display: block;
        margin: 0 20px;
        cursor: pointer;
        p {
            &:before {
                @include after();
                opacity: 0;
                bottom: -25px;
                height: 2px;
                width: 100%;
                background-color: $green;
                transition: .3s;
            }
        }
        &:hover {
            color: $green;
            & p:before {
                opacity: 1;
                transform: translateY(-18px);
                transition: .3s;
            }
        }
    }
    .nav__item:last-child {
        padding-right: 0;
    }
    .greeting {
        @include flex(column,
        nowrap,
        flex-start,
        flex-start);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 400px;
        width: 100%;
        color: $main-color;
        h1,
        button {
            font-family: $raleway;
            text-transform: uppercase;
        }
        h1 {
            color: $default-color;
        }
        p {
            padding-bottom: 30px;
        }
    }
    .photo {
        width: 35vw;
        position: absolute;
        right: 0;
        bottom: 0;
        img {
            width: 100%;
        }
    }
}