.contacts {
    &__form {
        @include flex(row, wrap, space-between, center);
        input,
        textarea,
        button {
          width: 100%;
          padding: 15px;
          font-family: inherit;
          transition: font-size .2s;
          border: 2px solid rgba($green, .1);
          &:hover {
            border: 2px solid $main-color;
            transition: border .2s;
        }
          &:focus {
            transition: .2s;
            color: $default-color;
            border: 2px solid rgba($green, 1);
          }
        }
        .form {
          &__requisites,
          &__textarea {
            width: calc(100% /2.05);
            height: 130px;
          }
          &__textarea {
            textarea {
              height: 100%;
            }
          }
          &__requisites {
            @include flex(column, nowrap, space-between, center);
            input {
              height: calc(100% / 2.5);
            }
          }
          &__button {
            width: 100%;
            padding-top: 30px;
            button {
              width: 100%;
              font-family: "Raleway", sans-serif;
              transition: .3s;
              &:hover {
                border: 2px solid rgba($green, 1);
                color: $default-color;
                transition: .3s;
              }
            }
          }
        }
    }
}