@media (min-width: 900px) and (max-width: 1024px) {
    .portfolio__item {
        width: calc(100% / 3.3);
    }
}

@media screen and (max-width: 1024px) {
    // *** Common
    .wrapper {
        margin: auto 30px;
    } // *** Welcome
    .home {
        background-size: cover;
        .greeting {
            padding: 0 20px;
            align-items: center;
            text-align: center;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            h1 {
                line-height: 1em;
                font-size: 3em;
            }
            p,
            .btn {
                color: #d0d0d0;
            }
        }
        .photo {
            display: none;
        }
    } // *** Experience
    .experience {
        &__container {
            flex-direction: column;
        }
        &__item {
            flex-direction: column;
            width: 100%;
            >div {
                width: 100%;
            }
        }
        &__position {
            padding-bottom: 20px;
        }
        &__company {
            align-items: flex-end;
        }
        .responsibility__list {
            margin-left: 20px;
        }
    } // *** Education
    .education {
        &__item {
            flex-direction: column;
            width: 100%;
            >div {
                width: 100%;
            }
        }
        &__position {
            margin-bottom: 20px;
            align-items: flex-start;
            .position__wrapper {
                width: calc(100% - 95px);
            }
        }
        &__university {
            align-items: flex-end;
        }
    }
}

@media screen and (max-width: 768px) {
    //  *** Common
    .ml-90 {
        margin-left: 0;
    } // *** Navigation
    .nav {
        &__container {
            justify-content: center;
        }
        &__logo {
            justify-content: center;
            img {
                width: 85%;
                max-width: 82px;
            }
        }
        &__menu {
            display: none;
        }
    } // *** About
    .about {
        &__description {
            &.about--self {
                flex-direction: column;
            }
        }
        &__image {
            width: 100%;
            margin-bottom: 20px;
        }
        &__bio {
            width: 100%;
            padding: 0;
        }
    } // *** Skills
    .skills {
        &__container {
            flex-direction: column;
        }
        &__item {
            width: 100%;
        }
    } // *** Portfolio
    .portfolio {
        &__container {
            flex-direction: column;
        }
        &__item {
            margin: 10px auto;
            width: 100%;
            &:nth-child(3) {
                margin-right: auto;
            }
        }
    }
    .contacts {
        &__type {
            flex-direction: column;
        }
    }
}