.skills {
    background-color: $bg6;
    color: $main-color;
    padding: 90px 0;
    &__container {
        @include flex(row, nowrap, space-between, center);
    }
    &__item {
        width: calc(100% / 3.2);
        h4 {
            font-family: $raleway;
            font-size: $default-size+2;
            text-transform: uppercase;
            margin: 0 0 10px 0;
        }
    }
    &__percent {
        @include flex(row, nowrap, flex-start, center);
        margin: 20px 0;
        height: 35px;
        background-color: rgb(67, 58, 76);
    }
    &__value {
        font-size: 13px;
    }
    &__level {
        height: inherit;
        width: 0%;
        margin-right: 16px;
        transition: width 3s ease-out;
    }
}